
.productImg{
    width: 100%;
    height: 350px;
    margin: auto;
    /* border-radius: 10px; */
    margin-bottom: 20px;
    /* border:2px solid blueviolet; */
}
.productImg img{
    width: 100%;
    height: 345px;
    /* border-radius: 10px; */

}
.bidButtons{
    position: absolute;
    border: none;
    border-radius: 10px;
    background-color: #4649FF;
    color: white;
    padding: 5px 20px;
    bottom: 20px;
    left: 150px;
}
.product{

    /* background-color: #EDEDED; */
    height: 900px;
    position: relative;
}
.tumor{
    position: absolute;
    top: -40px;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5px;
}
.finish{
    background-color: rgba(255, 0, 0, 0.362);
}
.activeSt{
    background-color: #4649FF;
    color: white;
    }