.main {
    background: #dfecfb;;
    padding: 150px 0;
}

h2.form-title {
    text-align: center;
    font-size: 36px;
    text-decoration: underline;
}

input#signup {
    background: linear-gradient(224deg, #006aff, #1139ff);
    font-size: 15px;
    font-weight: 600;
    border-radius: 41px;
}

a {
    color: blue;
    font-size: 15px;
    font-weight: 500;
}

a.signup-image-link {
    color: blue;
    font-size: 15px;
    font-weight: 500;

}

.signup-content {
    box-shadow: 11px 13px 26px #0000008a;
    border: none;
}

i.zmdi.zmdi-account.material-icons-name {
    font-size: 30px;
}
i.zmdi.zmdi-email {
    font-size: 30px;
}

i.zmdi.zmdi-lock-outline {
     font-size: 30px;
}

i.zmdi.zmdi-lock {
    font-size: 30px;
}

.social-login {
    font-size: 15px;
    font-weight: 500;
}